.wrapper {
    display: flex;
    justify-content: center;
    padding: 3.125rem 0 0 0;
    margin: 0;
}
.slider {
    max-width: 1024px;
    width: 100%;
    margin:0 auto;
    overflow: hidden;
}
.slider__line {
    display: flex;
    background-color: black;
    align-items: center;
    transition: all 1s;
}
.slider__img {
    box-sizing: content-box;
}
.slider__wrapper {
    display: flex;
    column-gap: 0.625rem;
}

.list__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.text__wrapper {
    display: flex;
}
.slider__text {
    display: none;
    width: 100%;
    padding: 0.625rem 0 0 0;
}
.slider__text:target {
    display: block;
}
.slider__dot {
    width: 1rem;
    height: 1rem;
    background-color: bisque;
    border: 0.5rem solid #fff;
    cursor: pointer;
}
.slider__dot:hover {
    background-color: aquamarine;
}
.slider__dot:active {
    background-color: burlywood;
}
.active-dot {
    background-color: aqua;
}
@media (max-width: 600px) {
    .slider__wrapper {
        display: flex;
        justify-content: center;
        column-gap: 0.625rem;
        margin-top: 0.625rem;
    }
    .list__wrapper {
        display: flex;
        flex-direction: column-reverse;
    }
    .text__wrapper {
        width: 100%;
    }
}